@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

a {
  color: #dd1c1a;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 30px;
}

.aside {
  grid-area: aside;
  padding: 16px;
}

.header {
  background-color: burlywood;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation {
  background-color: burlywood;
  padding: 16px;
  display: none;
  &__link {
    color: white;
    display: block;
    margin: 0 0 16px;
  }
  &__link:hover {
    color: red;
  }
  &--open {
    display: block;
  }
}

.main {
  display: block;
  margin-top: 60px;
  &__header {
    grid-area: main__header;
  }
  &__picture {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  &__title {
    color: #830544;
    padding: 16px;
  }
}

.menu {
  position: absolute;
  top: 16px;
  right: 16px;
}

.introduction {
  padding: 16px;
  grid-area: introduction;
  &__picture {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  &__title {
    color: #086788;
  }
  &__text {
    font-size: larger;
    line-height: 30px;
  }
}

.notes {
  border-style: dashed;
  border-width: 1px;
  padding: 16px;
  grid-area: notes;
  &__header {
    color: #0f5261;
  }
  &__article {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 16px;
  }
  &__article:hover {
    background-color: #4297f8;
  }
  &__article-text {
    line-height: 30px;
  }
  &__title {
    color: #f0c808;
  }
  &__title::before {
    content: "😎";
  }
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  font-size: smaller;
  padding: 16px;
  grid-area: footer;
}

@media (min-width: 768px) {
  .header {
    position: static;
    background-color: transparent;
  }

  .main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "main__header main__header"
      "notes aside"
      "footer footer";
    grid-template-columns: 1fr 200px;
    column-gap: 16px;
    row-gap: 16px;
  }

  .menu {
    display: none;
  }

  .navigation {
    background-color: burlywood;
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
    &__link {
      color: white;
      display: inline-block;
      margin-right: 20px;
    }
  }
}
